<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="css/vendor/normalize.css">
  <link rel="stylesheet" href="css/vendor/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Title -->
  <title>  </title>
</head>
<body>

  <div class="container">
    <div class="quiz-setup">
      <div class="row center">
        <h1 id="instructions"> Step 1: Press Start </h1>
      </div>
      <div class="one-third column offset-by-one-third">
        <button class="button-primary u-full-width start-button"> Start the Quiz </button>
      </div>
    </div>

    <div class="quiz">
      <h1 class="quiz-category"></h1>
      <form>

      </form>
    </div><!-- END OF QUIZ -->
  </div><!-- END OF CONTAINER -->

  <!-- JavaScript -->
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
